* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#c5775f,#b38242);
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: #555;
}
/*BUTTON SECTION START*/
.btn-new {
  top: 45px;
}

.btn-roll {
  top: 403px;
}

.btn-hold {
  top: 467px;
}

button:hover {
  font-weight: 600;
}

button:hover i {
  margin-right: 20px;
}

button:focus {
  outline: none;
}

i {
  color: #EB4D4D;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}
/*BUTTON SECTION END*/

/*DICE SECTION START*/
.dice {
  position: absolute;
  left: 50%;
  top: 178px;
  transform: translateX(-50%);
  height: 100px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

#dice1 {
  top: 120;
}

#dice2 {
  top: 250px;
}
/*DICE SECTION END*/


clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*PLAYER SECTION START*/
.player-1-panel,
.player-2-panel {
  width: 50%;
  float: left;
  height: 600px;
  padding: 100px;
}

.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.playerscore {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: #EB4D4D;
  margin-bottom: 130px;
}

.active {
  background-color: #f7f7f7;
}

.active .player-name {
  font-weight : 300;
}

.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: #EB4D4D;
  top: -7px;
  right: 10px;
}
/*PLAYER SECTION END*/

/*WINNING SCORE SECTION START*/
.winner {
  background-color: #f7f7f7;
}

.winner .player-name {
  font-weight: 300;
  color: #EB4D4D;
}


#winningScore {
  position: absolute;
  top: 520px;
  left: 50%;
  text-transform: uppercase;
  color: #555;
  font-size: 18px;
  font-family: 'Lato';
  text-align: center;
  padding: 10px;
  width:160;
  transform: translateX(-50%)
}

#winningScore:focus {
  outline: none;
}
/*WINNING SCORE SECTION END*/